**/node_modules
**/.DS_Store
cookies.txt
config.js
coverage
.nyc_output
dist
**/.vite

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
coverage
node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.nyc_output